*{
    margin: 0px;
    padding: 0px;
}

.container{
    /* border: 2px solid black; */
    display: flex;
    
}
.item{
    /* border: 1px solid red; */
    background-color: whitesmoke;
    
}
#item1{
    flex-basis: 65%;
}

#item2{
    flex-basis: 35%;
    margin-top: 0px;
  
}
.image{
height: 534px;
width: 550px;
}

nav{
    margin: 60px;
    text-align: end;

}
h1{
    font-family: 'Ubuntu', sans-serif;
padding-left: 40px;
font-size: 45px;
margin-bottom: 0px;
color: rgb(49, 49, 49);
}
h2{
margin-top: 5px;
    padding-left: 40px;
    color: rgb(80, 78, 78);
    font-family: sans-serif;
    font-weight: lighter;

}
h4{
    padding-left: 40px;
    color: rgb(82, 81, 81);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
letter-spacing: 0px;
margin-bottom: 5px;
margin-top: 20px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    color: rgb(82, 81, 81);
margin-top: 0px;
line-height: 1.7;
font-weight: bold;
margin-bottom: 5px;
}
input{
    margin-left: 40px;
    height: 38px;
    width: 300px;
    margin-top: 20px;
}
button{
    font-size: 16px;
    padding: 10px 28px;
    border: 0px;
}
#button2{
    background-color: black;
color: white;
font-family: 'Ubuntu', sans-serif;
}

#button1{
    background-color: white;
color: black;
font-family: 'Ubuntu', sans-serif;
}
#button3{
    background-color: #fc8019;
color: white;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
    padding: 10px 18px;
    border: 0px;
}
.con{
    background-color: #2b1e16;
    height: 200px;
}
.img2{
    height: 60px;
    width: 200px;
    margin: 30px;
}